*gif*
*.png
*pycache*
*.ipynb_checkpoints
*.pkl
*.gkyl
*.nc
*.gif
*.mp4
*.json
*.dat
simulation_scripts/.DS_Store
.*
*data
simulation_scripts/.DS_Store
pygkyl/pygkyl.egg-info
pygkyl/build
pygkyl/install.log
.DS_Store
pygkyl/postgkyl_install.log
pygkyl/pygkyl_install.log
*.pdf
*.h5
*.ignore