*gif*
*.png
*pycache*
*.ipynb_checkpoints
*.pkl
*.gkyl
*.gif
*.mp4
*.json
simulation_scripts/.DS_Store
.*
sim_data_dir_example/*
simulation_scripts/.DS_Store
pygkyl/pygkyl.egg-info
pygkyl/build
pygkyl/install.log
.DS_Store
